<style type="text/css">
	h2{

	}
	html{
		height: 100%;
	}
	h1{
		color: #FFFFFF;
		opacity: 0.4;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 96px;
		font-weight: 700;
		margin: 32px;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		margin: 64px;
		color: #555555;
	}
	body{
		height: 100%;
	}
	.header{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);	
	    white-space: nowrap;
	}
	.parallax { 
    /* The image used */
    background-image: url("photos/DSC02325.jpg");

    /* Full height */
    height: 200%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.top-right{
	    position: absolute;
	    top: 64px;
	    right: 16px;
	    size: 50px;
	}
	.bold{
		font-weight: 700;
		color: red;
	}
	.body-text{
		position: relative;
		top: 1000px;
		z-index: 1;
	}

	@font-face {
	font-family: ProximaSans;
	src: url("/fonts/ProximaSansRegular Regular.ttf");
	}
</style>